.contenedorFormulario{

  width: 60%;

  margin: 55px auto;

  padding: 70px 25px;

  padding-top: 20px;

}

td,th{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;


}